.buttonClose{
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: .15em solid #000;
    align-items: center;
    background-color: #fff;
    position: absolute;
    top:1em;
    right: 1em;    
}

.buttonClose:hover{
    background-color: #ff8383;
}

img{
    width: 100%;
    height: 14em;
    object-fit: cover;
}


@media (min-width: 350px) and (max-width: 550px) {
    .buttonClose{
        left: 1em;
    }
    img{
        width: 10em;
        height: 11em;
    }
}