.link{
    display: flex;
    height: 2em;
    align-items: center;
    gap: .5em;
}

.linkText{
    color: black;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.selected{
    list-style: none;
    border-bottom: .2em solid orange;
}

.noSelected{
    list-style: none;
}