form{
    width: 20em;
    height: 1.75em;
    display: flex;
    border-radius: .3em;
    overflow: hidden;
}

form .search{
    width: 100%;
    border: none;
    background-color: #eee;
    padding: .5em 1em;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

form .searchButton{
    border: none;
    background-color: orange;
    color: black;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    padding: 0 1em;
}