@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@300&display=swap');

/* GLOBAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dinamicContent{
    width: 60em;
    margin: auto;
    padding: 5em 1em;
}

.mini-icon{
    width: 1em;
    height: 1em;
}

.icon{
    width: 2em;
    height: 2em;
}

/*
FONTS: GOOGLE FONTS
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/