@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@300&display=swap');

/* GLOBAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    margin: auto;
    padding: 2em 1em;

}

.mini-icon{
    width: 1em;
    height: 1em;
}

.icon{
    width: 1.5em;
    height: 1.5em;
}

/*
FONTS: GOOGLE FONTS
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/